<div id="<%= dom_id msg %>">
  
  <h4 class="card-title">
    <strong>Title:</strong>
    <%= msg.title %>
  </h4>

  <br />

  <h5 class="card-text">
    <strong>Body:</strong>
    <%= msg.body %>
  </h5>

</div>
