<br />

<div class="card w-50 mx-auto" style="border-color: #651FFF">
<div class="card-header" style="background-color: #651FFF; color: white">
<h1>Editing message</h1>
</div>

  <div class="card-body">
  <%= render "form", msg: @msg %>
  <%= link_to "Show this message", @msg, class: "btn btn-primary mt-2" %>
</div>
