<br />

  <div class="card w-50 mx-auto" style="border-color: #651FFF">
  <div class="card-header" style="background-color: #651FFF; color: white">
  <h1>Create message</h1>
  </div>

    <div class="card-body">
    <%= render "form", msg: @msg %>
