<br />
<h1 class="text-center">About Us</h1>


<p style="font-size: 30px; font-weight: bold">This project done by:</p>
<h5>Ravshan Khakimov</h5>
<h5>Dinara Utamurodova</h5>

<div class="text-center">
<%= image_tag("logos/colleagues.jpg", width: '400px') %>
</div>