<% if current_user %>

<h1 class="text-center">My Basecamp</h1>
<br />
<h4 class="text-center text-success">Welcome to Basecamp!</h4>
    
    

    <% else %>

    <h1 class="text-center">My Basecamp</h1>
    <br />
    <h3 class="text-center">Create your future ideas with Basecamp</h3> 



<% end %>