<div id="<%= dom_id project %>">
  
  <h4 class="card-title">
    <strong>Theme:</strong>
    <%= project.name %>
  </h4>
  
  <br/>
  
  <h5 class="card-text">
    <strong>Description:</strong>
    <%= project.description %>
  </h5>

</div>
