<% if current_user %>
<br />
  <h1>My Projects</h1>
  <br />

  <div id="options">
  <%= link_to "New project", new_project_path, class: 'btn btn-success mb-3' %>
  </div>
          <div class="row row-cols-1 row-cols-md-4">
    
          <% @projects.each do |project| %>
            <% if project.user.id == current_user.id %>

            <div class="card mx-2 my-2" style="width: 19rem; background-color: rgb(129, 207, 255)">
            <div class="card-body">
            <%= render project %>
            <br/>
            <%= link_to "Show this project", project, class: 'btn btn-indigo mt-auto rounded-5' %>
            </div>
            </div>

            <% end %>
      
            <% end %>
          </div>

<% end %>
