<br />

<div class="card w-50 mx-auto" style="border-color: #651FFF">
<div class="card-header" style="background-color: #651FFF; color: white">
<h1>Editing todo</h1>
</div>
  <div class="card-body">
  <%= render "eform", todo: @todo %>
  <%= link_to "Show this todo", @todo, class: "btn btn-primary mt-2" %>
  </div>
</div>
