<div id="<%= dom_id sm %>">
  <h4 class="card-title">
    <strong>Title:</strong>
    <%= sm.title %>
  </h4>
  <br />

  <h4 class="card-text mb-5">
    <strong>Msg:</strong>
    <%= sm.msg_id %>
  </h4>

</div>
